@model AsadasFront.API.Models.Comprobante

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comprobante</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CedulaNavigation.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdReciboNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdReciboNavigation.Cedula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTarjetaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroTarjetaNavigation.NumeroTarjeta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdComprobante">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
