@model IEnumerable<AsadasFront.API.Models.Comprobante>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CedulaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdReciboNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroTarjetaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CedulaNavigation.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdReciboNavigation.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroTarjetaNavigation.NumeroTarjeta)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdComprobante">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdComprobante">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdComprobante">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
