@model AsadasFront.API.Models.Recibo

@{
    ViewData["Title"] = "Delete";
}

<h1>Pagar</h1>

<h3>Seleccione la tarjeta para pagar</h3>
<div>
    <h4>Recibo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCobro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCobro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Consumo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Consumo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CedulaNavigation.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoNavigation.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdMedidorNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdMedidorNavigation.Cedula)
        </dd>
        <dt class="col-sm-2">
            Tarjeta
        </dt>
        <dd class="col-sm-10">
            <div class="form-group">
                @*<label asp-for="IdEstado" class="control-label"></label>*@
                <select asp-for="IdEstado" class="form-control" asp-items="ViewBag.NumeroTarjeta" onchange=""></select>
                <span asp-validation-for="IdEstado" class="text-danger"></span>
            </div>
        </dd>
    </dl>

    <form asp-action="Delete">
        <script></script>
        <input type="hidden" asp-for="IdRecibo" />
        <input type="hidden" asp-for="Cedula" />
        <input type="hidden" id="NumeroTarjeta" name="NumeroTarjeta" value="" />
        <input type="submit" value="Pagar" class="btn btn-danger" onclick="document.getElementById('NumeroTarjeta').value = document.getElementById('IdEstado').value;" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
