@model IEnumerable<AsadasFront.API.Models.Recibo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaCobro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CedulaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMedidorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCobro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consumo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaVencimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CedulaNavigation.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEstadoNavigation.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdMedidorNavigation.Cedula)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdRecibo">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdRecibo">Details</a> |
                    @if (item.IdEstado != 2)
                    {
                        <a asp-action="Delete" asp-route-id="@item.IdRecibo">Pagar</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
