@model IEnumerable<Wizard.Models.Medidor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CedulaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaNavigation.Cedula)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMedidor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMedidor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMedidor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
